.container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: 10px 15px;
}

h5 {
  margin: 0;
}

.app-title {
  text-align: center;
  margin-bottom: 15px;
}

.capturing-form {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 120px;
  gap: 10px;
  width: 120px;
}

.button {
  background-color: #1f2937;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
